
body, html {
  margin: 0;
}

.centered {
  text-align: center;
}

.lefted {
  text-align: left;
}

.righted {
  text-align: right;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.justified {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.small {
  font-size: 80%;
}

.word-break {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

.word-break-all, .word-break-all * {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

.css-disabled {
  pointer-events: none;
  opacity: 0.5;
  background: #CCC;
}

.css-disabled-all, .css-disabled-all * {
  background: #F5F5F5;
  color : #C3C3C3;
  cursor:none;
  pointer-events: none;
}